body{
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: msgothic;
    src: url(../msgothic/msgothic.ttc);
}

.header-text{
    font-family: msgothic;
    font-size: 20px;
    font-weight: normal;
    color: #acc0c8;
    border-radius: 20px;
    background: #3f3a3a;
    display: inline-block;
    padding: 6px 12px;
}

.header-section{
    background: #000000;
    padding: 10px;
    text-align: center;
}

.left-section{
    background: #828282;
    height: 100%;
    padding-top: 140px;
}

.left-heading1{
    padding-bottom: 20px;
}

.left-heading1 a{
    font-size: 22px;
    font-weight: normal;
    font-style: normal;
    color: #acc0c8;
    font-family: msgothic;
    text-decoration: none;
}

.hero-section{
    background: #707070;
}

.card1-title1{
    font-size: 20px;
    font-weight: normal;
    font-family: msgothic;
    color: #acc0c8;
}

.card1-button{
    border-radius: 10px;
    filter: drop-shadow(0px 3px 3px rgba(0,0,0,0.16 ));
    background: #397c47;
    display: inline-block;
    padding: 0px 30px;
}

.card1-button a{
    text-decoration: none;
    font-size: 20px;
    font-weight: normal;
    font-family: "MS UI Gothic";
    color: #acc0c8;
}

.card1-button a:hover{
    color: #acc0c8;
}

.card1{
    border-radius: 20px;
    background: #4ab357;
    display: inline-block;
    width: 188px;
}

.card1-img img{
    margin-right: -2px;
    width: 190px;
}

.right-section{
    padding-top: 40px;
}

.right-section .container{
    max-width: 1500px;
}

.card-section{
    display: flex;
    gap: 21px;
    flex-wrap: wrap;
    padding-bottom: 20px;
}

.card2{
    border-radius: 20px;
    background: #DB7C7F;
    display: inline-block;
    width: 188px;
}

.card2-button{
    border-radius: 10px;
    filter: drop-shadow(0px 3px 3px rgba(0,0,0,0.16 ));
    background: #943030;
    display: inline-block;
    padding: 0px 30px;
}

.card2-button a{
    text-decoration: none;
    font-size: 20px;
    font-weight: normal;
    font-family: "MS UI Gothic";
    color: #ACC0C8;
}

.card2-button a:hover{
    color: #ACC0C8;
}

.card3{
    border-radius: 20px;
    background: #7C8CDB;
    display: inline-block;
    width: 188px;
}

.card3-button{
    border-radius: 10px;
    filter: drop-shadow(0px 3px 3px rgba(0,0,0,0.16 ));
    background: #3A3094;
    display: inline-block;
    padding: 0px 30px;
}

.card3-button a{
    text-decoration: none;
    font-size: 20px;
    font-weight: normal;
    font-family: "MS UI Gothic";
    color: #ACC0C8;
}

.card3-button a:hover{
    color: #ACC0C8;
}

.card4{
    border-radius: 20px;
    background: #DB7CD5;
    display: inline-block;
    width: 188px;
}

.card4-button{
    border-radius: 10px;
    filter: drop-shadow(0px 3px 3px rgba(0,0,0,0.16 ));
    background: #8D3094;
    display: inline-block;
    padding: 0px 30px;
}

.card4-button a{
    text-decoration: none;
    font-size: 20px;
    font-weight: normal;
    font-family: "MS UI Gothic";
    color: #ACC0C8;
}

.card4-button a:hover{
    color: #ACC0C8;
}


.header-section .icon{
    display: none;
}

.footer-section{
    padding-top: 40px;
    max-width: 1460px;
    padding-bottom: 30px;
}

.footer-text1,
.footer-text1 a{
    font-family: msgothic;
    font-size: 22px;
    font-weight: normal;
    color: #acc0c8;
    text-decoration: none;
    font-weight: bold;
}

.footer-paragraph{
    font-family: msgothic;
    font-size: 18px;
    font-weight: normal;
    color: #acc0c8;
    max-width: 400px;
    text-align: justify;
    padding-top: 10px;
}

.social-link a{
    font-family: msgothic;
    font-size: 22px;
    font-weight: normal;
    color: #acc0c8;
}

.social-link{
    display: flex;
    gap: 12px;
}

.form-control{
    width: 250px;
    border-radius: 0px;
    background: #707070;
    border-color: #828282;
}

.social-button button{
    background-color: #828282;
    color: #acc0c8;
    border-radius: 0px;
}

.social-button .btn:hover {
    color: #acc0c8;
}

.form-control:focus,
.social-button .btn:focus{
    box-shadow: none;
}

.form-control:focus{
    border-color: #acc0c8;
    background: #707070;
}

input::placeholder{
    color: #acc0c8 !important;
}

.footer-head{
    display: flex;
    gap: 80px;
}
@media screen and  (max-width:767px) {
    #mobile-sidebar {
        position: fixed;
        top: 0px;
        left: 0px;
        min-height: 100vh;
        width: 206px;
        background: #828282;
        z-index: 1000;
        display: none;
    }
    .header-section{
        position: relative;
       z-index: 10000;
    }
    .card1,.card2,.card3,.card4 {
        margin: auto;
    }
    .header-section .icon{
        display: block;
        position: absolute;
        top: 15px;
        left: 16px;
    }
    .mb-sidebar #mobile-sidebar {
        display: inline-block;
    }

    #mb-sidebar-show img{
        width: 22px;
        cursor: pointer;
    }

    .header-text{
        font-size: 16px;
    }

    .hero-section{
        min-height: 100vh;
    }

    .mob-heading{
        font-family: "MS Gothic";
        font-size: 20px;
        font-weight: normal;
        text-align: center;
        color: #acc0c8;
        padding-bottom: 20px;
    }

    .right-section{
        padding-top: 20px;
    }

    .footer-head {
        flex-wrap: wrap;
        gap: 30px;
    }

    .form-control{
        width: 100%;
    }

    .footer-text1, .footer-text1 a{
        font-size: 18px;
    }

    .footer-section {
        margin-left: 0px;
        padding: 0px 0px 40px;
    }
}
  